body {
  npm install nes.css
  yarn add nes.css
   width: 100%;
   min-height: 100vh;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.nes-btn {
   margin-top: 2rem;
}

.navbar {
  background-color: 000000;
  position: fixed;
  top: 0;
  width: 100%;
}

/*
span {
   background-color: gold;
   padding: .5rem 1rem;
}
*/

#brands {
   position: absolute;
   bottom: 0;
   right: 0;

   margin: 1rem;
}

.pro {
   width: 80%;

   position: absolute;
   top: 0;
   left: 50%;
   transform: translate(-50%, 0);
   margin-top: 2rem;
}

.content {
   display: none;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
